################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RocketLanding/CopilotIndices/17.12.53.23981
/.vs/RocketLanding/FileContentIndex
/.vs/RocketLanding/v17
/.vs/CopilotSnapshots/C3CCC4587B21E94E84671C207EE9E8FA
/.vs
/RocketLanding/bin/Debug/net8.0
/RocketLanding/obj
